*.map
.idea/
.project
node_modules

# individual compiled files until there are no js files left
src/js/sampleSpec_1.js
src/js/sampleSpec_2.js
src/js/Font.js
src/js/import-export/*.js
src/js/AjaxUtil.js
src/js/extractor/*.js
src/js/parser/Parser.js
src/js/tokenizer/Tokenizer.js
src/js/validator/*.js
src/js/generator/*.js

test/spec/*.js